{extend name="platform/new_base" /}
{block name="resources"/}
{/block}
{block name="main"}
<!-- page -->
<form class="v-filter-container">
    <div class="filter-fields-wrap">
        <div class="filter-item clearfix">
            <div class="filter-item__field">
                <div class="v__control-group">
                    <label class="v__control-label">礼品券号码</label>
                    <div class="v__controls">
                        <input type="text" id="order_no" class="v__control_input" placeholder="请输入礼品劵号码" autocomplete="off">
                    </div>
                </div>
                <div class="v__control-group">
                    <label class="v__control-label">礼品劵信息</label>
                    <div class="v__controls">
                        <input type="text" class="v__control_input" id="goods_name" placeholder="赠品信息" autocomplete="off">
                    </div>
                </div>
                <div class="v__control-group">
                    <label class="v__control-label">核销门店</label>
                    <div class="v__controls">
                        <select class="v__control_input" id="store_id">
                            <option value="">全部</option>
                            {volist name="store_list" id="ot"}
                            <option value="{$ot['store_id']}">{$ot['store_name']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="v__control-group">
                    <label class="v__control-label">会员信息</label>
                    <div class="v__controls">
                        <input type="text" class="v__control_input" id="user" autocomplete="off" placeholder="会员ID/用户名">
                    </div>
                </div>

                <div class="v__control-group">
                    <label class="v__control-label">使用时间</label>
                    <div class="v__controls v-date-input-control">
                        <label for="orderTime">
                            <input type="text" class="v__control_input pr-30" id="orderTime" placeholder="请选择时间" autocomplete="off" data-types="datetime">
                            <i class="icon icon-calendar"></i>
                            <input type="hidden" id="orderStartDate">
                            <input type="hidden" id="orderEndDate">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-item clearfix">
            <div class="filter-item__field">
                <div class="v__control-group">
                    <label class="v__control-label"></label>
                    <div class="v__controls">
                        <a class="btn btn-primary search"><i class="icon icon-search"></i> 搜索</a>
<!--                        <a class="btn btn-success ml-15 dataExcel">导出EXCEL</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="screen-title">
    <span class="text">核销订单列表</span>
</div>
<!--<ul class="nav nav-tabs v-nav-tabs">-->
<!--<li role="presentation" class="active"><a href="#" class="flex-auto-center">全部</a></li>-->
<!--<li role="presentation"><a href="#" class="flex-auto-center">提现流水</a></li>-->
<!--<li role="presentation"><a href="#" class="flex-auto-center">充值流水</a></li>-->
<!--<li role="presentation"><a href="#" class="flex-auto-center">消费流水</a></li>-->
<!--</ul>-->
<table class="table v-table table-auto-center mb-10">
    <thead>
    <tr class="order-list-item">
        <th class="col-md-3">礼品劵信息</th>
        <th class="col-md-1">价值</th>
        <th class="col-md-1">使用时间</th>
        <th class="col-md-2">使用人信息</th>
        <th class="col-md-2">核销员</th>

    </tr>
    </thead>
</table>
<div class="tables" id="list">

</div>

<nav aria-label="Page navigation" class="clearfix">
    <ul id="page" class="pagination pull-right"></ul>
</nav>
{/block}
{block name="script"}
<script>
    require(['util'],function(util){
        util.initPage(getAccountList);
        // util.layDate('#startDate');
        // util.layDate('#endDate');
        util.layDate('#orderTime',true,function(value, date, endDate){
            var h=date.hours<10 ?"0"+date.hours : date.hours;
            var m=date.minutes<10 ?"0"+date.minutes : date.minutes;
            var s=date.seconds<10 ?"0"+date.seconds : date.seconds;
            var h1=endDate.hours<10 ?"0"+endDate.hours : endDate.hours;
            var m1=endDate.minutes<10 ?"0"+endDate.minutes : endDate.minutes;
            var s1=endDate.seconds<10 ?"0"+endDate.seconds : endDate.seconds;
            var date1=date.year+'-'+date.month+'-'+date.date+' '+h+":"+m+":"+s;
            var date2=endDate.year+'-'+endDate.month+'-'+endDate.date+' '+h1+":"+m1+":"+s1;

            if(value){
                $('#orderStartDate').val(date1);
                $('#orderEndDate').val(date2);
            }
            else{
                $('#orderStartDate').val('');
                $('#orderEndDate').val('');
            }

        });
        function getAccountList(page_index) {
            $("#page_index").val(page_index);
            var order_no = $("#order_no").val();
            var start_create_date = $("#orderStartDate").val();
            var end_create_date = $("#orderEndDate").val();
            // var start_finish_date = $("#finishStartDate").val();
            // var end_finish_date = $("#finishEndDate").val();
            var user = $("#user").val();
            var goods_name = $("#goods_name").val();
            var store_id = $("#store_id").val();
        $.ajax({
            type: "post",
            url: "{:__URL('PLATFORM_MAIN/order/clerkOrderList')}",
            async: true,
            data: {
                "page_index": page_index,
                "page_size": $("#showNumber").val(),
                "order_no": order_no,
                "start_create_date": start_create_date,
                "end_create_date": end_create_date,
                // "start_finish_date": start_finish_date,
                // "end_finish_date": end_finish_date,
                "user": user,
                "goods_name": goods_name,
                "store_id": store_id,
            },
            success: function (data) {
                var html = '';
                if (data['data'] == undefined || data['data'].length == 0) {
                    html += '<table class="table v-table table-auto-center mb-10"><tbody><tr align="center"><td colspan="6" class="h-200">暂无符合条件的订单</td></tr></tbody></table>';
                    $("#list").html(html);
                    $("#all_orders").html(data['total_count']);
                    $("#all_orders_money").html(data['all_pay_money']);
                    return true;
                }
                row = 0;
                $.each(data['data'], function (k_order, v_order) {
                    var order_no = v_order['gift_voucher_code'];//订单编号

                    html += '<table class="table v-table table-auto-center mb-10"><tbody><tr class="order-list-item">';
                    html += '<td colspan="6" class="text-left bg-f9">';
                    html += '<span class="mr-15-oList">' + v_order['store_name'] + '</span>';
                    html += '<span class="mr-15-oList">礼品劵号码：' + order_no + '</span>';
                    html += '</td>';

                    row += 1;

                    html += '<tr class="goods-order-items"><td class="col-md-3">';
                    html += '<div class="media text-left">';
                    html += '<div class="media-left"> </div>';
                    html += '<div class="media-body break-word">';
                    html += '<div class="line-2-ellipsis">';
                    html += v_order['giftvoucher_name'];
                    html += '</div></td>';
                    html += '<td class="col-md-1">' + v_order['price'] + '</td>';
                    html += '<td class="text-center col-md-2" rowspan="' + row + '" >';
                    html += v_order['use_time'] + '<br>';
                    html += '</td>';
                    if (row > 1) {
                        html += '<td  rowspan="' + row + '" class="border-left col-md-2">';
                    } else {
                        html += '<td  rowspan="' + row + '" class="col-md-2">';
                    }
                    html += '<a href="' + __URL('PLATFORM_MAIN/member/myDetail?member_id=' + v_order['uid']) + '" class="text-primary block mt-04" target="_blank">' + v_order['nick_name'] + '</a>' + v_order['user_name'] + '<br>' + v_order['user_tel'] + '';
                    html += '</td>';
                    html += '<td class="text-center col-md-2" rowspan="' + row + '" >';
                    html += v_order['assistant_name'] + '<br>';
                    html += '</td>';
                    html += '</td>';
                    html += '</tr>';

                    html +='</tbody></table>';
                })
                $('#page').paginator('option', {
                    totalCounts: data['total_count']  // 动态修改总数
                });
                $("#list").html(html);

                util.tips();
            }
        });
    }
        $('.search').on('click',function(){
            util.initPage(getAccountList);
        });


        /**
         * 余额流水数据导出
         */
        $('.dataExcel').on('click',function(){
            var tip1 = document.getElementById("tip1").innerText;
            var tip1 = parseInt(tip1)+parseInt(1);
            var total_tips2=tip1>99?"99+":tip1;

            var records_no = $("#records_no").val();
            var search_text = $("#search_text").val();
            var start_date = $("#orderStartDate").val();
            var end_date = $("#orderEndDate").val();
            var form_type = $("#form_type").val();
            $.ajax({
                type: "get",
                url: "{:__URL('PLATFORM_MAIN/Finance/balanceDataExcel')}",
                async: true,
                data: {
                    "records_no": records_no,
                    "search_text": search_text,
                    "start_date": start_date,
                    "end_date": end_date,
                    "form_type": form_type
                },
                success: function (data) {
                    if (data["code"] == 0) {
                        document.getElementById("tip1").innerText = total_tips2;
                        util.message(data["message"], 'success', getAccountList($('#page_index').val()));
                    } else {
                        util.message(data["message"], 'danger', getAccountList($('#page_index').val()));
                    }
                }
            })
            // window.location.href=__URL("PLATFORM_MAIN/Finance/balanceDataExcel?form_type="+form_type+"&records_no="+records_no+"&start_date="+start_date+"&end_date="+end_date+"&search_text="+search_text);
        })
    })
</script>
{/block}
