<div class="goods-diglog" id="goods-dialog">
  <ul class="nav nav-tabs v-nav-tabs pt-15" role="tablist">
    <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab"
        class="flex-auto-center">商品列表</a></li>
    <li role="presentation"><a href="#selectedList" aria-controls="selectedList" role="tab" data-toggle="tab"
        class="flex-auto-center">已选商品</a></li>
    <div class="input-group search-input-group pull-right">
      <input type="text" class="form-control" name="goods-name" placeholder="商品名称">
      <span class="input-group-btn"><button class="btn btn-primary search">搜索</button></span>
    </div>
  </ul>
  <div class="dialog-box tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="list">
      <div class="table-box" style="height: 380px;overflow-y: auto;">
        <table class="table v-table table-auto-center">
          <thead>
            <tr class="order-list-item">
              <th>商品列表</th>
              <th>价格</th>
              <th>状态</th>
              <th width="130">操作</th>
            </tr>
          </thead>
          <tbody id="content"></tbody>
        </table>
      </div>
      <nav aria-label="Page navigation" class="clearfix">
        <ul id="page_goods" class="pagination pull-right"></ul>
      </nav>
    </div>
    <div role="tabpanel" class="tab-pane" id="selectedList">
      <div class="table-box" style="height: 380px;overflow-y: auto;">
        <div class="divTable goodsTable">
          <div class="divThead">
            <div class="divTh" style="width:40%;">商品列表</div>
            <div class="divTh" style="width:20%;">价格</div>
            <div class="divTh" style="width:20%;">状态</div>
            <div class="divTh" style="width:20%;">操作</div>
          </div>
          <div class="divTbody" id="curr-list"></div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="page-type" />
  <input type="hidden" id="goods-type" />
  <input type="hidden" id="promote-type" />
  <input type="hidden" id="selectedData" />
</div>
<script type="text/html" id="goods_tpl_content">
  <%each data as item %>
  <tr>
      <td>
          <div class="media text-left" style="margin-left:80px;">
              <div class="media-left">
                  <p>
                      <img src="<%item.goods_img%>" style="width:60px;height:60px;">
                  </p>
              </div>
              <div class="media-body break-word">
                  <div class="line-2-ellipsis line-title"><%item.goods_name%></div>
                  <!--<div class="small-muted line-2-ellipsis"></div>-->
              </div>
          </div>
      </td>
      <%if item.price_type == 1%>
      <td>￥<%item.price%></td>
      <%/if%>
      <%if item.price_type == 2%>
      <td>￥<%item.price%> ~ ￥<%item.price2%></td>
      <%/if%>
      <%if item.price_type == 3%>
      <td>原价：￥<%item.price%> <br > 现价：￥<%item.price2%></td>
      <%/if%>
      <!-- 状态 -->
      <td>
          <div>
              <%if item.status == 0%>
              <span class="label label-info">未审核</span>
              <%/if%>
              <%if item.status == 1%>
              <span class="label label-warning">审核中</span>
              <%/if%>
              <%if item.status == 2%>
              <span class="label label-success">审核通过</span>
              <%/if%>
              <%if item.status == 3%>
              <span class="label label-danger">审核未通过</span>
              <%/if%>
          </div>
      </td>
      <td>
          <%if item.status == 2 && item.pick_status != 4%>
            <a href="javascript:void(0);" class="text-<%if item.isselect == '0'%>primary<%else%>danger<%/if%> curr_btn" isselect="<%item.isselect%>" data-mp_goods_id="<%item.mp_goods_id%>" ><%if item.isselect == '0'%>挑选<%else%>取消挑选<%/if%></a>
          <%else if item.pick_status == 4%>
            <a href="javascript:void(0);" class="text-danger">已挑选</a>
          <%/if%>

      </td>
  </tr>
  <%/each%>
</script>
<script type="text/html" id="goods_curr_list">
      <%each data as item%>
    <div class="divTr" data-mp_goods_id="<%item.mp_goods_id%>">
        <div class="divTd" style="width:40%;">
            <div class="media text-left" style="margin-left:80px;">
                <div class="media-left">
                    <p>
                        <img src="<%item.goods_img%>" style="width:60px;height:60px;">
                    </p>
                </div>
                <div class="media-body break-word">
                    <div class="line-2-ellipsis line-title"><%item.goods_name%></div>
                    <!--<div class="small-muted line-2-ellipsis"></div>-->
                </div>
            </div>
        </div>
        <div class="divTd" style="width:20%;">
            <%if item.price_type == 1%>
            ￥<%item.price%>
            <%/if%>
            <%if item.price_type == 2%>
            ￥<%item.price%> ~ ￥<%item.price2%>
            <%/if%>
            <%if item.price_type == 3%>
            原价：￥<%item.price%> <br > 现价：￥<%item.price2%>
            <%/if%>
        </div>
        <div class="divTd" style="width:20%;">
            <div>
                <%if item.status == 0%>
                <span class="label label-info">未审核</span>
                <%/if%>
                <%if item.status == 1%>
                <span class="label label-warning">审核中</span>
                <%/if%>
                <%if item.status == 2%>
                <span class="label label-success">审核通过</span>
                <%/if%>
                <%if item.status == 3%>
                <span class="label label-danger">审核未通过</span>
                <%/if%>
            </div>
        </div>
        <div class="divTd" style="width:20%;">
            <a href="javascript:void(0);" class="text-danger curr_btn" isselect="<%item.isselect%>" data-mp_goods_id="<%item.mp_goods_id%>" >取消挑选</a>
            <!--<a href="javascript:void(0);" class="text-primary moveItem ml-10" style="cursor: move;" >拖动</a>-->
        </div>
    </div>
  <%/each%>
</script>
<script>
  require(['util', 'tpl'], function (util, tpl) {
    var url = '{$getMpLiveGoodsLabriry}';
    var curr_data = $('#selectedData').data() || {};// 选中数据
    var page_index = 1;
    var all_data = {};
    util.initPage(getGoodsList, 'page_goods')
    // 搜索
    $('.search').on('click', function () {
      var curr_tab = $('#goods-dialog .nav li.active a').attr('href')
      var val = $('input[name="name"]').val();
      if (curr_tab == '#list') {
        getGoodsList(1)
      } else {
        var new_curr_data = {
          data: {}
        }
        $.each(curr_data.data, function (e) {
          if (curr_data.data[e].goods_name.indexOf(val) != -1) {
            new_curr_data.data[e] = curr_data.data[e]
          }
        })
        $('#goods-dialog #curr-list').html(tpl('goods_curr_list', new_curr_data));
      }
    })
    // 挑选
    $('#goods-dialog').on('click', '.curr_btn', function () {
      var newObj = {};
      var index = 0;
      var isselect = $(this).attr('isselect');
      var curr_id = $(this).data('mp_goods_id');
      if (curr_id && isselect == '1') {
        delete curr_data.data['C' + curr_id];
      }
      $.each(all_data.data, function (i, e) {
        if (index == 0) {
          if (curr_id == e.mp_goods_id) {
            if (isselect == '1') {
              // 取消挑选
              e.isselect = '0';
            } else {
              // 挑选
              e.isselect = '1';
              newObj = e;
              index++;
              if (newObj) {
                if (typeof (curr_data.data) === 'undefined') {
                  curr_data.data = {}
                }
                newObj = $.extend(true, {}, newObj);
                curr_data.data['C' + curr_id] = newObj;
              }
            }
          }
        }
      })
      $('#goods-dialog #content').html(tpl('goods_tpl_content', all_data));
      $('#goods-dialog #curr-list').html(tpl('goods_curr_list', curr_data));
      $('#goods-dialog #selectedData').data(curr_data);
    })
    // $("#goods-dialog #curr-list").sortable({
    //   opacity: 0.8,
    //   placeholder: "highlight",
    //   handle: '.moveItem',
    //   revert: 100,
    //   start: function (event, ui) {
    //     var height = ui.item.height();
    //     $(".highlight").css({ "height": height + "px" });
    //     $(".highlight").html('<div class="text-center" style="line-height:' + height + 'px;"><i class="icon icon-add1"></i> 拖动到此处</div>');
    //   },
    //   update: function (event, ui) {
    //     var newObj = {};
    //     $('#goods-dialog #curr-list .divTr').each(function (i, e) {
    //       var thisid = $(this).data('mp_goods_id');
    //       newObj['C' + thisid] = curr_data.data['C' + thisid];
    //     })
    //
    //     curr_data.data = newObj;
    //     $('#goods-dialog #selectedData').data(curr_data);
    //   }
    // })
    function getGoodsList(page) {
      var val = $('input[name="goods-name"]').val();
      var roomid = '{$roomid}';
      $.ajax({
        type: "post",
        url: url,
        async: true,
        data: {
          "page_index": page,
          "goods_name": val || '',
          "roomid":roomid
        },
        success: function (data) {
          data.data.forEach(function (item, index, arr) {
            item.isselect = '0';
            for (var i in curr_data.data) {
              if (item.mp_goods_id == curr_data.data[i].mp_goods_id) {
                item.isselect = '1';
              }
            }
          })
          all_data = data;
          $('#goods-dialog #content').html(tpl('goods_tpl_content', all_data));
          $('#goods-dialog #curr-list').html(tpl('goods_curr_list', curr_data));
          $('#goods-dialog #selectedData').data(curr_data);
          $('#page_goods').paginator('option', {
            totalCounts: data.total_count
          });
        }
      });
    }
  })
</script>