{extend name="platform/new_base" /}
{block name="resources"/}
{/block}
{block name="main"}
<!-- page -->
<form class="v-filter-container">
	<div class="filter-fields-wrap">
		<div class="filter-item clearfix">
			<div class="filter-item__field">
				<div class="v__control-group">
					<label class="v__control-label">订单号</label>
					<div class="v__controls">
						<input type="text" id="order_no" class="v__control_input" autocomplete="off">
					</div>
				</div>
				<div class="v__control-group">
					<label class="v__control-label">会员ID</label>
					<div class="v__controls">
						<input type="text" id="buyer_id" class="v__control_input" autocomplete="off">
					</div>
				</div>
				<div class="v__control-group">
					<label class="v__control-label">订单收货时间</label>
					<div class="v__controls v-date-input-control">
						<label for="completeTime">
							<input type="text" class="v__control_input pr-30" id="completeTime" placeholder="请选择时间" autocomplete="off" data-types="datetime">
							<i class="icon icon-calendar"></i>
							<input type="hidden" id="finishStartDate">
							<input type="hidden" id="finishEndDate">
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="filter-item clearfix">
			<div class="filter-item__field">
				<div class="v__control-group">
					<label class="v__control-label"></label>
					<div class="v__controls">
						<a class="btn btn-primary search"><i class="icon icon-search"></i> 搜索</a>
						<a class="btn btn-success ml-15 dataExcel">导出EXCEL</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="member_id" value="{$member_id}"/>
</form>

<table class="table v-table table-auto-center">
	<thead>
	<tr>
		<th>订单号</th>
		<th>会员ID</th>
		<th>用户信息</th>
		<th>收货时间</th>
		<th>订单金额</th>
	</tr>
	</thead>
	<tbody id="list">
	</tbody>
</table>
<input type="hidden" id="page_index">
<nav aria-label="Page navigation" class="clearfix">
	<ul id="page" class="pagination pull-right"></ul>
</nav>
<!-- page end -->
{/block}
{block name="script"}
<script>
	require(['util'],function(util){
		util.initPage(LoadingInfo);
		util.layDate('#completeTime',true,function(value, date, endDate){
			var h=date.hours<10 ?"0"+date.hours : date.hours;
			var m=date.minutes<10 ?"0"+date.minutes : date.minutes;
			var s=date.seconds<10 ?"0"+date.seconds : date.seconds;
			var h1=endDate.hours<10 ?"0"+endDate.hours : endDate.hours;
			var m1=endDate.minutes<10 ?"0"+endDate.minutes : endDate.minutes;
			var s1=endDate.seconds<10 ?"0"+endDate.seconds : endDate.seconds;
			var date1=date.year+'-'+date.month+'-'+date.date+' '+h+":"+m+":"+s;
			var date2=endDate.year+'-'+endDate.month+'-'+endDate.date+' '+h1+":"+m1+":"+s1;
			if(value){
				$('#finishStartDate').val(date1);
				$('#finishEndDate').val(date2);
			}
			else{
				$('#finishStartDate').val('');
				$('#finishEndDate').val('');
			}
		});
		function LoadingInfo(page_index) {
			$("#page_index").val(page_index);
			var order_no = $("#order_no").val();
			var member_id = $("#member_id").val();
			var buyer_id = $("#buyer_id").val();
			var start_finish_date = $("#finishStartDate").val();
			var end_finish_date = $("#finishEndDate").val();
			$.ajax({
				type: "post",
				url: "{:__URL('PLATFORM_MAIN/statistics/teamDetail')}",
				async: true,
				data: {
					"page_index": page_index,
					"order_no": order_no,
					"member_id": member_id,
					"buyer_id": buyer_id,
					"start_finish_date": start_finish_date,
					"end_finish_date": end_finish_date
				},
				success: function (data) {
					var html = '';

					$("#total_count_num").text(data["total_count"]);
					$("#page_count_num").text(data["page_count"]);
					$("#page_count").val(data["page_count"]);
					$("#pageNumber a").remove();
					if (data["data"].length > 0) {
						for (var i = 0; i < data["data"].length; i++) {
							html +='<tr>';
							html +='<td>' + data["data"][i]['order_no'] + '</td>';
							html +='<td>' + data["data"][i]['uid'] + '</td>';
							html += '<td><a href="' + __URL('PLATFORM_MAIN/member/memberDetail?member_id=' + data["data"][i]["uid"]) + '" class="text-primary block mt-04">' + data["data"][i]["user_info"]+ '</a></td>';
							html +='<td>' + data["data"][i]['sign_time'] + '</td>';
							html +='<td>' + data["data"][i]['order_money'] + '</td>';
							html +='</tr>';
						}
					} else {
						html += '<tr><td colspan="5" class="h-200">暂无符合条件的数据记录</td></tr>';
					}

					$('#page').paginator('option', {
						totalCounts: data['total_count']  // 动态修改总数
					});
					$("#list").html(html)
				}
			});
		}
		$('.search').on('click',function(){
			util.initPage(LoadingInfo);
		});

		/**
		 * 数据导出
		 */
		$('.dataExcel').on('click',function(){
			var tip1 = document.getElementById("tip1").innerText;
			var tip1 = parseInt(tip1)+parseInt(1);
			var total_tips2=tip1>99?"99+":tip1;

			var order_no = $("#order_no").val();
			var member_id = $("#member_id").val();
			var buyer_id = $("#buyer_id").val();
			var start_finish_date = $("#finishStartDate").val();
			var end_finish_date = $("#finishEndDate").val();

			$.ajax({
				type: "post",
				url: "{:__URL('PLATFORM_MAIN/statistics/teamDetailExcel')}",
				async: true,
				data: {
					"order_no": order_no,
					"member_id": member_id,
					"buyer_id": buyer_id,
					"start_finish_date": start_finish_date,
					"end_finish_date": end_finish_date
				},
				success: function (data) {
					if (data["code"] == 0) {
						document.getElementById("tip1").innerText = total_tips2;
						util.message(data["message"], 'success', LoadingInfo($('#page_index').val()));
					} else {
						util.message(data["message"], 'danger', LoadingInfo($('#page_index').val()));
					}
				}
			})
		})

	})
</script>
{/block}
