{block name="main"}
<!-- page -->
<form class="form-horizontal form-validate pt-15 widthFixedForm">
    <input type="hidden" class="form-control"  id="assistant_id" name="assistant_id" value="{$assistant_info.assistant_id}">
    <div class="form-group">
        <label class="col-md-2 control-label"><span class="text-bright">*</span>店员名称</label>
        <div class="col-md-5">
            <input type="text" class="form-control"  id="assistant_name" name="assistant_name" required value="{$assistant_info.assistant_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"><span class="text-bright">*</span>所属门店</label>
        <div class="col-md-5">
            <div class=" checkbox">
                <!--复选框-->
                {volist name="store_list" id="vo"}
                <label>
                    <input type="checkbox"  name="store_id" value="{$vo.store_id}" {in name="$vo.store_id" value="$assistant_info.store_id"} checked {/in} > {$vo.store_name}
                </label>
                {/volist}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"><span class="text-bright">*</span>岗位</label>
        <div class="col-md-5">
            <select class="form-control" name="jobs_id" id="jobs_id" required>
                <option value="">请选择</option>
                {volist name="jobs_list" id="vo"}
                <option value="{$vo.jobs_id}" {if $assistant_info.jobs_id == $vo.jobs_id} selected {/if}>{$vo.jobs_name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"><span class="text-bright">*</span>手机号码</label>
        <div class="col-md-5">
            <input type="text" class="form-control"  id="assistant_tel" name="assistant_tel" required value="{$assistant_info.assistant_tel}">
        </div>
    </div>
    {if !$assistant_info}
    <div class="form-group">
        <label class="col-md-2 control-label"><span class="text-bright">*</span>登录密码</label>
        <div class="col-md-5">
            <input type="text" class="form-control"  id="password" name="password" required value="">
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="col-md-2 control-label">收银/核销提成</label>
        <div class="col-md-5">
            <div class="switch-inline">
                <input type="checkbox" name="is_commission" id="is_commission" {if $assistant_info.is_commission == 1}checked{/if}>
                <label for="is_commission" class=""></label>
            </div>
            <p class="help-block">开启后，将从收银或核销的订单金额中抽一部分发放给门店或店员作为核销提成</p>
        </div>
    </div>
    <div class="rules {if $assistant_info.is_commission != 1}hide{/if}">
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="text-bright">*</span>收银计算方式</label>
            <div class="col-md-5">
                <div>
                    <label class="radio-inline">
                        <input type="radio" class="cash_method" value="1" {if $assistant_info.cash_method == 1}checked{/if} name="cash_method"> 按比例
                    </label>
                    <label class="radio-inline">
                        <input type="radio" class="cash_method" value="2" {if $assistant_info.cash_method == 2}checked{/if} name="cash_method"> 按固定金额
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <div class="input-group w-200">
                    <div class="input-group-addon cash_reward_text">{if $assistant_info.cash_method== 1}订单金额{else}每单{/if}</div>
                    <input type="number" name="cash_reward" id="cash_reward" min="0" class="form-control" value="{$assistant_info['cash_reward']}">
                    <div class="input-group-addon cash_reward_pice">{if $assistant_info.cash_method== 1}%{else}元{/if}</div>
                </div>
                <div class="mb-0 help-block">若计算方式在多个地方均有设置则按以下优先级：商品独立设置 > 门店 / 店员独立设置 > 基础设置</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="text-bright">*</span>核销计算方式</label>
            <div class="col-md-5">
                <div>
                    <label class="radio-inline">
                        <input type="radio" class="write_off_method" value="1" {if $assistant_info.write_off_method == 1}checked{/if} name="write_off_method"> 按比例
                    </label>
                    <label class="radio-inline">
                        <input type="radio" class="write_off_method" value="2" {if $assistant_info.write_off_method == 2}checked{/if} name="write_off_method"> 按固定金额
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <div class="input-group w-200">
                    <div class="input-group-addon write_off_reward_text">{if $assistant_info.write_off_method== 1}订单金额{else}每单{/if}</div>
                    <input type="number" name="write_off_reward" id="write_off_reward" min="0" class="form-control" value="{$assistant_info['write_off_reward']}">
                    <div class="input-group-addon write_off_reward_pice">{if $assistant_info.write_off_method== 1}%{else}元{/if}</div>
                </div>
                <div class="mb-0 help-block">若计算方式在多个地方均有设置则按以下优先级：商品独立设置 > 门店 / 店员独立设置 > 基础设置</div>
            </div>
        </div>
    </div>
    {if $assistant_info}
    <div class="form-group">
            <label class="col-md-2 control-label">是否启用</label>
            <div class="col-md-5">
                <!--<label class="radio-inline">
                    <input type="radio" name="status" value="1" {if $assistant_info.status} checked {/if}> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="0" {if !$assistant_info.status} checked {/if}> 否
                </label>-->
                <div class="switch-inline">
                    <input type="checkbox" name="status" id="status" {if $assistant_info.status} checked {/if}>
                    <label for="status" class=""></label>
                </div>

            </div>
        </div>
    {else}
    <div class="form-group">
            <label class="col-md-2 control-label">是否启用</label>
            <div class="col-md-5">
                <!--<label class="radio-inline">
                    <input type="radio" name="status" value="1" checked> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="0" > 否
                </label>-->
                <div class="switch-inline">
                    <input type="checkbox" name="status" id="status" checked>
                    <label for="status" class=""></label>
                </div>

            </div>
        </div>
    {/if}
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-8">
            <button class="btn btn-primary J-submit" type="submit">{if $assistant_info}保存{else}添加{/if}</button>
            <a href="javascript:history.go(-1);" class="btn btn-default">返回</a>
        </div>
    </div>

</form>

<!-- page end -->
{/block}
{block name="script"}
<script>
    require(['utilAdmin'], function (utilAdmin) {
        $("input[name='is_commission']").click(function () {
            if($(this).is(':checked')){
                $(".rules").removeClass("hide");
            }else{
                $(".rules").addClass("hide");
            }
        })
        $("input[name='cash_method']").click(function () {
            if($(this).is(':checked') && $("input[name='cash_method']:checked").val()==1){
                $(".cash_reward_pice").html('%');
                $(".cash_reward_text").html('订单金额');
            }else if($(this).is(':checked') && $("input[name='cash_method']:checked").val()==2){
                $(".cash_reward_pice").html('元');
                $(".cash_reward_text").html('每单');
            }
        })
        $("input[name='write_off_method']").click(function () {
            if($(this).is(':checked') && $("input[name='write_off_method']:checked").val()==1){
                $(".write_off_reward_pice").html('%');
                $(".write_off_reward_text").html('订单金额');
            }else if($(this).is(':checked') && $("input[name='write_off_method']:checked").val()==2){
                $(".write_off_reward_pice").html('元');
                $(".write_off_reward_text").html('每单');
            }
        })
        utilAdmin.validate($('.form-validate'), function (form) {
            var btnHtml = $('.J-submit').html();
            if($('.J-submit').attr('disabled')==='disabled'){
                return false;
            }
            var assistant_id = $("#assistant_id").val();
            var assistant_name = $("#assistant_name").val();
            var assistant_tel = $("#assistant_tel").val();
            var password = $("#password").val();
            var store_id = '';
            $("input[name='store_id']:checked").each(function(){
                    store_id = store_id + ',' + $(this).val();
            });
            store_id = store_id.substring(1);
            if(store_id===''){
                util.message('请选择门店', 'danger');
                return;
            }
            var jobs_id = $("#jobs_id").val();
            var status = $('input[name=status]').is(':checked')?1:0;
            var is_commission = $("input[name='is_commission']:checked").val() ? 1 : 0;
            var cash_method = $('input[name=cash_method]:checked').val();
            var write_off_method = $('input[name=write_off_method]:checked').val();
            var cash_reward = $('#cash_reward').val();
            var write_off_reward = $('#write_off_reward').val();
            if(is_commission == 1){
                if(!write_off_method){
                    util.message('请选择核销计算方式', 'danger');
                    return false;
                }
                if(!cash_method){
                    util.message('请选择收银计算方式', 'danger');
                    return false;
                }
                if(cash_reward < 0 || cash_reward == ''){
                    util.message('请填写收银计算佣金金额', 'danger');
                    return false;
                }
                if(write_off_reward < 0 || write_off_reward == ''){
                    util.message('请填写核销计算佣金金额', 'danger');
                    return false;
                }
            }
            $('.J-submit').attr({disabled: "disabled"}).html('提交中...');
            $.ajax({
                type: "post",
                url: "{$addOrUpdateAssistantUrl}",
                data: {
                    'is_commission': is_commission,
                    'cash_method': cash_method,
                    'write_off_method': write_off_method,
                    'cash_reward': cash_reward,
                    'write_off_reward': write_off_reward,
                    'assistant_id': assistant_id,
                    'assistant_name': assistant_name,
                    'assistant_tel': assistant_tel,
                    'password': password,
                    'store_id': store_id,
                    'jobs_id': jobs_id,
                    'status': status
                },
                async: true,
                success: function (data) {
                    if (data["code"] > 0) {
                        utilAdmin.message(data["message"], 'success', function () {
                            window.location.href = "{:__URL('ADDONS_ADMIN_MAINassistantList')}";
                        });
                    } else {
                        utilAdmin.message(data["message"], 'danger');
                        $('.J-submit').removeAttr('disabled').html(btnHtml);
                    }
                }

            });
        });
    });
</script>
{/block}
